<h1><%= @university.name %></h1>
<h1>Professor Index</h1>
<p>Select professor name for more details.</p>
<table>
    <tr>
        <th>Professor Name</th>
        <th>Department</th>
    </tr>
    <% @professors.each do |professor| %>
    <tr>
        <td><%= link_to professor.name, professor_path(professor) %></td>
        <td><%= professor.department %></td>
    </tr>
    <% end %>
</table>

<br></br>

<p>Don't see a professor? <%= link_to "Add A Professor", new_university_professor_path(@university) %></p>
