<h1><%= @course.course_number%> <%= @course.name%></h1>
<h1>Edit Post</h1>

<%= render partial: 'form', locals: {path: course_post_path(@course, @post)} %>

<br></br>

<%= link_to "Delete This Post", course_post_path(@course, @post), method: :delete, data: { confirm: "Are You Sure You Want To Delete?" } %>