/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  * {
      background-color: #e6f2ff;
      margin: 0;
  }

  .logo {
    font-family: Impact;
    padding: 20px;
    font-size: 25px;
  }

 .container {
    text-align: center;
    font-family: Helvetica;
 }

 .container * {
  margin: 10px auto;
 }

 div.centered 
{
    text-align: center;
}

.index-container
{
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.university-index
{
  float:left;
}

.coursetable
{
  float:left;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}
 .navbar {
    background-color: #333333;
    padding: 8px 8px;
    font-family: Helvetica;
  }

  .navbar a {
    color: #cccccc;
    background-color: #333333;
    text-align: left;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    color: white;
  }

  .post, .post-details {
    box-sizing: border-box;
    width: 50%;
    border: 2px solid black;
    position: relative;
    padding: 20px 0;
    margin: 5px auto;
  }

  .js-next-course, .js-prev-course {
    margin: 0 200px;
  }

  #error_explanation ul {
    list-style-position: inside;
    color: red;
  }

  #error_explanation, .notice {
    color: red;
  }


