<h1>University Universe</h1>

<%= link_to 'Login', '/signin' %><br></br>
Don't have an account? <%= link_to 'Signup Here', new_user_path %><br></br>

or <%= link_to('Log in with Facebook!', '/auth/facebook') %>
